/*HEADER*/
body {
    font-family: 'Courier New', Courier, monospace;
    color: #484848;
    background-image: linear-gradient(to bottom right, #8AAAE5, #FFFF);
}
/*NavBar*/
header {
    display: flex;
    background-image: linear-gradient(to top left,  #8AAAE5, #FFFF);
    height: 40px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 42px;
    font-weight: 900;
    padding-left: 25px;
    justify-content: space-between;
}

ul {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 24px;
    padding: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FFFF;
}

/*HOME*/
.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-wrapper {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 50px;
    padding-left: 15px;;
    overflow: hidden;
    text-transform: uppercase;
}

.slider div {
    color: black;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
}

.slider-text1 {
    background-image: linear-gradient(#8AAAE5, #FFFF);
    animation: slide 5s linear infinite;
}

.slider-text2 {
    background-image: linear-gradient(#8AAAE5, #FFFF);
}

.slider-text3 {
    background-image: linear-gradient(#8AAAE5, #FFFF);
}

.slider-text4 {
    background-image: linear-gradient(#8AAAE5, #FFFF);
}

.slider-text5 {
    background-image: linear-gradient(#8AAAE5, #FFFF);
}

@keyframes slide {
    0% {margin-top: -300px;}
    5% {margin-top: -200px;}
    33% {margin-top: -200px;}
    38% {margin-top: -100px;}
    66% {margin-top: -100px;}
    71% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

/*About-Me*/
.about-me {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: #8AAAE5FF;
    padding-top: 15px;
}
.abtme {
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    padding-right: 50px;
}
.about-me-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
}

.about-me-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait {
    width: 300px;
    height: 300px;
    right:10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 5px;
    margin: 25px;
    
}
/*Projects*/
.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    width: 550x;
    height: 325px;
    image-rendering:optimizeQuality;
    flex-direction: column;
    background-color: black;
}

.card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding: 16px;
}

img {
    width: 225px;
    height: 150px;
}

.abt-text {
    font-weight: 800;
    text-shadow: 0 0 3px #FFFF;
}
/*Skills*/
/*Contact*/